.home {
  background-color: #74b9ff;
  color: white;
  padding:50px;
  margin-bottom: 50px;
}

span #click,#click{
  margin: 65px;
  /* text-decoration: none; */
  color: inherit;
  font-size: 30px;
}